@import "sanitize";

$primary-color: #0066ff;

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NHaasGroteskDSPro-75Bd.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NHaasGroteskDSPro-95Blk.otf");
    font-weight: bolder;
}

@font-face {
    font-family: "Neue Haas Grotesk";
    src: url("./fonts/NHaasGroteskTXPro-65Md.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("./fonts/TiemposText-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("./fonts/TiemposText-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Tiempos Text";
    src: url("./fonts/TiemposText-Bold.otf");
    font-weight: bold;
}

body {
    font-family: "Tiempos Text";
    font-size: 16px;
    line-height: 1.5;
    color: #3c3c3c;
}

.idyll-root {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.mx-auto,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    line-height: 1.25;
    font-family: "Neue Haas Grotesk";
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

p,
dl,
ol,
ul,
pre,
blockquote {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

code,
samp {
    font-size: 87.5%;
    padding: 0.125em;
}

pre {
    font-size: 87.5%;
    overflow: scroll;
}

blockquote {
    font-size: 1.25rem;
    font-style: italic;
    margin-left: 0;
}

hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}

.black {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color: $primary-color;
    transition: color 0.2s ease;
}

.aside {
    position: absolute;
    right: 0;
    max-width: calc((1024px - 30 * 16px - 24px * 2) / 2);
    padding-left: 24px;
    padding-right: 24px;
}

.bold {
    font-weight: 600;
}

.sans-serif {
    font-family: "Neue Haas Grotesk";
}

.subhead {
    font-size: 14px;
}

.measure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    max-width: 32rem;
}

@media screen and (max-width: 64em) {
    .aside {
        position: static;
        width: 100%;
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
}
